@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
    font-family: "Questrial", sans-serif;
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 100%;
    background: url("./assets/pexels-joão-vítor-heinrichs-1787044.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content {
    max-width: 80%;
    text-align: left;
    margin-right: 6em;
}

h1 {
    font-size: 2.4rem;
    line-height: 0.7;
}

#name {
    font-size: 3.2rem;
}

p {
    font-size: 1.2rem;
    margin: 0px;
    line-height: 1.4rem;
}

#links {
    display: flex;
    gap: 2rem;
    font-size: 2.4rem;
}

#projects {
  font-size: 0.2 rem;
}

#projects li a:hover {
    color: gray;
}

li, a {
    text-decoration: none; 
    color: white;
    line-height: 1.6em;
}

.fa-spin {
    animation: spin 0.5s;
    color: gray;
}

footer {
    width: 100%;
}

p.copyright {
    position: fixed;
    color: #fff;
    font-size: 0.7em;
    text-align: left;
    bottom: 1em;
    letter-spacing: 0.2rem; 
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }

  #name {
    font-size: 2.4rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  #content {
    margin-right: 0;
  }

  #links {
    font-size: 1.8rem;
    flex-direction: row;
    align-items: left;
  }

  #links a {
    margin-bottom: 1rem;
  }
}
